---
type Props = {
	title: string;
	description: string;
	ogImage: string;
	ogImageAlt: string;
	robots?: 'index, follow' | 'noindex, nofollow' | 'noindex, follow';
	path: `/${string}`;
};

const { title, description, ogImage, ogImageAlt, robots = 'index, follow', path } = Astro.props;

const site = Astro.site || new URL('https://abhushan.dev');
const websiteUrl = path === '/' ? site.origin : `${site.origin}${path}`;
---

<!-- Site Essentials -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="robots" content={robots} />
<link rel="canonical" href={websiteUrl} />
<link rel="icon" href="/favicon.ico" />
<meta property="og:site_name" content="abhushan.dev" />
<meta name="application-name" content="abhushan.dev" />

<!-- Additional meta -->
<meta name="author" content="Abhushan Adhikari Joshi" />
<meta name="generator" content={Astro.generator} />

<!-- Open Graphs -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={websiteUrl} />
<meta property="og:image" content={ogImage} />
<meta property="og:image:secure_url" content={ogImage} />
<meta property="og:image:alt" content={ogImageAlt} />

<!-- Twitter Specifies -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@abhushanaj" />
<meta name="twitter:creator" content="@abhushanaj" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />
