---
import { getCollection, getEntry } from 'astro:content';

import type { GetStaticPaths } from 'astro';

import DefaultLayout from '@/layouts/default/index.astro';

import BackAction from '@/components/astro/blog/back-action/index.astro';
import BlogHeader from '@/components/astro/blog/blog-header/index.astro';
import TocAsideNav from '@/components/astro/blog/toc-aside-nav/index.astro';
import SeoMeta from '@/components/astro/seo-meta/index.astro';
import { components } from '@/components/react/blog/content-blocks';

export const getStaticPaths = (async () => {
	const allBlogs = await getCollection('blog');

	return allBlogs.map((blog) => ({
		params: {
			slug: blog.slug
		}
	}));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const blog = await getEntry('blog', slug);

const {
	data: { seoMetaData, title, publishedDate },
	collection,
	render
} = blog;

const { Content, headings } = await render();
---

<DefaultLayout>
	<SeoMeta slot="head" {...seoMetaData} path={`/${collection}/${slug}`} />
	<main class="relative mb-8 flex w-full md:grid md:grid-cols-[1fr_var(--primary-content-width)_1fr]">
		<article class="mb-8 md:col-start-2 md:col-end-3">
			<!-- Back Action -->
			<BackAction href={`/${collection}`} title="Go back to blogs page">go to blog</BackAction>
			<!-- Blog Header -->
			<BlogHeader title={title} publishedDate={publishedDate} views={20_200} />

			<!-- Blog Content -->
			<Content components={components} />
		</article>

		<aside class="hidden w-[30ch] pl-[100px] md:block">
			<div class="sticky top-[var(--page-blur-segment-height)]">
				<h4 class="text-md mb-4">On this page</h4>
				<TocAsideNav tocContents={headings} />
			</div>
		</aside>
	</main>
</DefaultLayout>

<style>
	:root {
		--page-top: 40px;
		--aside-nav-space-left: 10px;
	}
</style>
