---
import { InternalLink } from '@/components/react/link/internal';

type BlogListing = {
	title: string;
	uri: `/${string}`;
	seriesLength?: number;
	publishedDate: Date;
};

type Props = { listings: Array<BlogListing> };

const { listings } = Astro.props;
---

<ul class="flex flex-col gap-5">
	{
		listings.map((listing) => (
			<li>
				<InternalLink href={listing.uri} title="View the series" variant="highContrast">
					{listing.title}
				</InternalLink>
				<p class="mt-1 flex flex-wrap items-center gap-2 text-sm">
					<time datetime={listing.publishedDate.toISOString()}>{listing.publishedDate.toDateString()}</time>
					{listing.seriesLength && <span>- ({listing.seriesLength} part series)</span>}
				</p>
			</li>
		))
	}
</ul>
